<h1>Latest peeps</h1>

<% @peeps.each do |peep|%>
  <ul><%= peep.message %> - <%= peep.created_at %></ul>
<% end %>

<br>

<form action="/peeps/new" method="get">
  <input type="submit" value="Add a new peep">
</form>
