<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>
  <body>
    <h1>New peep</h1>
    <p>
      <form action="/peeps/new" method="post">
        <input type="text" name="message">
        <input type="submit" value="Add peep">
      </form>
    </p>
  </body>
</html>
